<a href="https://colab.research.google.com/github/F-Emm/Hamoye-StageA/blob/main/Stage_A_Hamoye_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

print(pd.__version__)

1.3.5

# Data Table Display

Colab includes an extension that renders pandas dataframes into interactive displays that can be filtered, sorted, and explored dynamically.

Data table display for Pandas dataframes can be enabled by running:
```python
from google.colab import data_table
data_table.enable_dataframe_formatter()
```
and disabled by running
```python
from google.colab import data_table
data_table.disable_dataframe_formatter()
```

In [4]:
url = 'https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv'
# https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv
df = pd.read_csv(url, error_bad_lines = False, encoding = 'latin-1')

print(df.head(7))

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

   Area Code     Area  Item Code              Item  Element Code  \
0          4  Algeria       2501        Population           511
1          4  Algeria       2501        Population          5301
2          4  Algeria       2901       Grand Total           664
3          4  Algeria       2901       Grand Total           674
4          4  Algeria       2901       Grand Total           684
5          4  Algeria       2903  Vegetal Products           664
6          4  Algeria       2903  Vegetal Products           674

                                  Element             Unit     Y2014  \
0           Total Population - Both sexes     1000 persons  38924.00
1                Domestic supply quantity      1000 tonnes      0.00
2           Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3  Protein supply quantity (g/capita/day)     g/capita/day     94.90
4      Fat supply quantity (g/capita/day)     g/capita/day     80.06
5           Food supply (kcal/capita/day)  kcal/capita/day   2932.00
6  Protein supply quantity (g/capita/day)     g/capita/day     67.14

      Y2015     Y2016     Y2017     Y2018
0  39728.00  40551.00  41389.00  42228.00
1      0.00      0.00      0.00      0.00
2   3379.00   3372.00   3341.00   3322.00
3     94.35     94.72     92.82     91.83
4     79.36     77.40     80.19     77.28
5   2958.00   2941.00   2921.00   2932.00
6     67.38     67.37     66.11     67.10

In [5]:
#enabling tables

from google.colab import data_table
from vega_datasets import data

data_table.disable_dataframe_formatter()
df.head(5)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [6]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

##I answered all my questions only to submit and its over 6 Questions were unmarked how

In [78]:
y = [(2, 4), (7, 8), (1, 5, 9)]

y[1][-1]

8

# ***Question 11 Answer below, after trying to do it with above.***

In [ ]:
df.groupby(["Item"])["Y2014", "Y2017"].sum()
#df.groupby("Item")["Item"].count().to_frame()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                         Y2014      Y2017
Item
Alcohol, Non-Food      2403.00    2348.00
Alcoholic Beverages  102410.11   95581.06
Animal Products       11935.65   11547.65
Animal fats          209460.54  269617.53
Apples and products    9499.23   10198.90
...                        ...        ...
Vegetables, Other    155038.96  157752.59
Vegetal Products     107145.19  107655.20
Wheat and products   232670.13  240047.62
Wine                   4497.36    4178.02
Yams                 200396.96  229174.59

[119 rows x 2 columns]

# ***Question 12 & 13 answers gotten below***

In [49]:

#df.at['Fat supply', 'Item']
#df.mean()
#df.std()
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [65]:
#Question 12 Answer
corr = df["Y2015"]
corr.std()

1603.4039839425013

In [66]:
corr.mean()

135.23596649549626

In [61]:
#Question 13 Answer
# df.describe()
max = df["Y2016"]
a = max.isnull().sum()
b = max.count()
c = a + b
a

1535

In [63]:
d = a * 100 / c
d

2.518747025909456

# ***Question 14 answer***

In [41]:
#df.describe()

# To find the correlation among
# the columns using pearson method
df_el = df.corr(method ='pearson')
df_el

,Area Code,Item Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element Code,,,,,,,
-0.024683,-0.005159,1.000000,0.021722,0.020857,0.020109,0.021494,0.021314
-0.000209,1.000000,-0.005159,0.006164,0.005472,0.005247,0.005006,0.005665
0.023444,0.005247,0.020109,0.996081,0.995739,1.000000,0.992785,0.992757
0.023889,0.005472,0.020857,0.994647,1.000000,0.995739,0.988048,0.988208
0.024254,0.005006,0.021494,0.995230,0.988048,0.992785,1.000000,0.998103
0.024279,0.005665,0.021314,0.994872,0.988208,0.992757,0.998103,1.000000
0.024457,0.006164,0.021722,1.000000,0.994647,0.996081,0.995230,0.994872
1.000000,-0.000209,-0.024683,0.024457,0.023889,0.023444,0.024254,0.024279

# ***Question 15 Answer below***

In [32]:
#df.groupby
subset_df = df[df["Element"] == 'Import Quantity']
column_sum = subset_df.sum()
column_sum.to_frame()

                                                              0
Area Code                                                688174
Area          AlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlgeriaAlge...
Item Code                                              13795966
Item          Cereals - Excluding BeerWheat and productsRice...
Element Code                                           28834929
Element       Import QuantityImport QuantityImport QuantityI...
Unit          1000 tonnes1000 tonnes1000 tonnes1000 tonnes10...
Y2014                                                 274144.48
Y2015                                                 267018.46
Y2016                                                 286582.78
Y2017                                                 294559.09
Y2018                                                 287997.09

# ***Question 16 Answer***

In [28]:
#df_prod = df.groupby(["Element"])["Y2014", "Y2017"].sum()
df_prod = df.groupby(["Element"])["Y2014"].sum()
df_prod

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64

# ***Question 17 Answer below***

In [18]:
df_max = df.groupby(["Element"])["Y2018"].sum().to_frame()
# shows the answers is domestic supply quantity as the highest in Y2018
df_max

                                             Y2018
Element
Domestic supply quantity                2161192.10
Export Quantity                          181594.80
Fat supply quantity (g/capita/day)        10258.69
Feed                                     233489.68
Food                                    1303841.28
Food supply (kcal/capita/day)            455261.00
Food supply quantity (kg/capita/yr)       49056.85
Import Quantity                          287997.09
Losses                                   163902.00
Other uses (non-food)                     91300.97
Processing                               308429.00
Production                              2075072.89
Protein supply quantity (g/capita/day)    11833.56
Residuals                                 34864.00
Seed                                      25263.14
Stock Variation                           20577.91
Total Population - Both sexes           1140605.00
Tourist consumption                          90.00

In [19]:
df_max.max()

Y2018    2161192.1
dtype: float64

# ***Question 18 Answer below***

In [17]:
df_ans = df.groupby(["Element"])["Y2018"].sum().to_frame().sort_values(by = "Y2018", ascending = True)
#Protein supply Quantity is the 3rd lowest in Y2018
df_ans

                                             Y2018
Element
Tourist consumption                          90.00
Fat supply quantity (g/capita/day)        10258.69
Protein supply quantity (g/capita/day)    11833.56
Stock Variation                           20577.91
Seed                                      25263.14
Residuals                                 34864.00
Food supply quantity (kg/capita/yr)       49056.85
Other uses (non-food)                     91300.97
Losses                                   163902.00
Export Quantity                          181594.80
Feed                                     233489.68
Import Quantity                          287997.09
Processing                               308429.00
Food supply (kcal/capita/day)            455261.00
Total Population - Both sexes           1140605.00
Food                                    1303841.28
Production                              2075072.89
Domestic supply quantity                2161192.10

# ***Question 19 Answer below***

In [9]:
#import quantity of Algeria in 2018 === Answer in 2nd code tab
# df_alg = df.groupby(["Element", "Area"])["Y2014", "Y2015", "Y2016", "Y2017", "Y2018"].sum()
df_alg = df.groupby(["Element", "Area"])["Y2018"].sum()
df_alg['Total'] = df_alg.sum()
df_alg.to_dict()

{('Domestic supply quantity', 'Algeria'): 90023.42,
 ('Domestic supply quantity', 'Angola'): 59590.22,
 ('Domestic supply quantity', 'Benin'): 31447.9,
 ('Domestic supply quantity', 'Botswana'): 3045.85,
 ('Domestic supply quantity', 'Burkina Faso'): 25705.16,
 ('Domestic supply quantity', 'Cabo Verde'): 731.0,
 ('Domestic supply quantity', 'Cameroon'): 64009.74,
 ('Domestic supply quantity', 'Central African Republic'): 5567.06,
 ('Domestic supply quantity', 'Chad'): 15489.73,
 ('Domestic supply quantity', 'Comoros'): 19.95,
 ('Domestic supply quantity', 'Congo'): 8524.55,
 ('Domestic supply quantity', "Côte d'Ivoire"): 55557.64,
 ('Domestic supply quantity', 'Djibouti'): 2760.96,
 ('Domestic supply quantity', 'Egypt'): 248477.72,
 ('Domestic supply quantity', 'Eswatini'): 13158.81,
 ('Domestic supply quantity', 'Ethiopia'): 107850.72,
 ('Domestic supply quantity', 'Ethiopia PDR'): 0.0,
 ('Domestic supply quantity', 'Gabon'): 4608.75,
 ('Domestic supply quantity', 'Gambia'): 2221.89,
 ('Domestic supply quantity', 'Ghana'): 100558.45,
 ('Domestic supply quantity', 'Guinea'): 25292.85,
 ('Domestic supply quantity', 'Guinea-Bissau'): 2049.58,
 ('Domestic supply quantity', 'Kenya'): 67202.58,
 ('Domestic supply quantity', 'Lesotho'): 2062.73,
 ('Domestic supply quantity', 'Liberia'): 4998.99,
 ('Domestic supply quantity', 'Madagascar'): 32596.87,
 ('Domestic supply quantity', 'Malawi'): 50937.37,
 ('Domestic supply quantity', 'Mali'): 40795.02,
 ('Domestic supply quantity', 'Mauritania'): 22053.08,
 ('Domestic supply quantity', 'Mauritius'): 8290.36,
 ('Domestic supply quantity', 'Morocco'): 86458.07,
 ('Domestic supply quantity', 'Mozambique'): 42581.75,
 ('Domestic supply quantity', 'Namibia'): 4019.66,
 ('Domestic supply quantity', 'Niger'): 31258.84,
 ('Domestic supply quantity', 'Nigeria'): 428323.32,
 ('Domestic supply quantity', 'Rwanda'): 17426.52,
 ('Domestic supply quantity', 'Sao Tome and Principe'): 349.73,
 ('Domestic supply quantity', 'Senegal'): 19374.64,
 ('Domestic supply quantity', 'Seychelles'): 10.68,
 ('Domestic supply quantity', 'Sierra Leone'): 12753.68,
 ('Domestic supply quantity', 'South Africa'): 126493.86,
 ('Domestic supply quantity', 'Sudan'): 65451.77,
 ('Domestic supply quantity', 'Sudan (former)'): 0.0,
 ('Domestic supply quantity', 'Togo'): 10000.22,
 ('Domestic supply quantity', 'Tunisia'): 31347.9,
 ('Domestic supply quantity', 'Uganda'): 54617.1,
 ('Domestic supply quantity', 'United Republic of Tanzania'): 92239.88,
 ('Domestic supply quantity', 'Zambia'): 24994.8,
 ('Domestic supply quantity', 'Zimbabwe'): 17860.73,
 ('Export Quantity', 'Algeria'): 811.54,
 ('Export Quantity', 'Angola'): 7962.28,
 ('Export Quantity', 'Benin'): 729.44,
 ('Export Quantity', 'Botswana'): 101.68,
 ('Export Quantity', 'Burkina Faso'): 1088.16,
 ('Export Quantity', 'Cabo Verde'): 42.99,
 ('Export Quantity', 'Cameroon'): 1078.16,
 ('Export Quantity', 'Central African Republic'): 0.26,
 ('Export Quantity', 'Chad'): 36.22,
 ('Export Quantity', 'Comoros'): 0.0,
 ('Export Quantity', 'Congo'): 25.03,
 ('Export Quantity', "Côte d'Ivoire"): 8120.48,
 ('Export Quantity', 'Djibouti'): 1084.0,
 ('Export Quantity', 'Egypt'): 9420.24,
 ('Export Quantity', 'Eswatini'): 1262.04,
 ('Export Quantity', 'Ethiopia'): 2138.78,
 ('Export Quantity', 'Ethiopia PDR'): 0.0,
 ('Export Quantity', 'Gabon'): 16.3,
 ('Export Quantity', 'Gambia'): 1390.59,
 ('Export Quantity', 'Ghana'): 4284.86,
 ('Export Quantity', 'Guinea'): 191.61,
 ('Export Quantity', 'Guinea-Bissau'): 156.0,
 ('Export Quantity', 'Kenya'): 3086.45,
 ('Export Quantity', 'Lesotho'): 80.96,
 ('Export Quantity', 'Liberia'): 65.48,
 ('Export Quantity', 'Madagascar'): 535.81,
 ('Export Quantity', 'Malawi'): 597.18,
 ('Export Quantity', 'Mali'): 165.3,
 ('Export Quantity', 'Mauritania'): 36217.88,
 ('Export Quantity', 'Mauritius'): 3387.12,
 ('Export Quantity', 'Morocco'): 42429.99,
 ('Export Quantity', 'Mozambique'): 1394.81,
 ('Export Quantity', 'Namibia'): 1712.9199999999998,
 ('Export Quantity', 'Niger'): 2017.22,
 ('Export Quantity', 'Nigeria'): 1233.02,
 ('Export Quantity', 'Rwanda'): 383.64,
 ('Export Quantity', 'Sao Tome and Principe'): 10.0,
 ('Export Quantity', 'Senegal'): 4451.63,
 ('Export Quantity', 'Seychelles'): 205.14000000000001,
 ('Export Quantity', 'Sierra Leone'): 143.9,
 ('Export Quantity', 'South Africa'): 31630.62,
 ('Export Quantity', 'Sudan'): 1632.13,
 ('Export Quantity', 'Sudan (former)'): 0.0,
 ('Export Quantity', 'Togo'): 809.35,
 ('Export Quantity', 'Tunisia'): 1649.87,
 ('Export Quantity', 'Uganda'): 4095.7,
 ('Export Quantity', 'United Republic of Tanzania'): 2289.77,
 ('Export Quantity', 'Zambia'): 1011.54,
 ('Export Quantity', 'Zimbabwe'): 416.71,
 ('Fat supply quantity (g/capita/day)', 'Algeria'): 309.09000000000003,
 ('Fat supply quantity (g/capita/day)', 'Angola'): 230.9,
 ('Fat supply quantity (g/capita/day)', 'Benin'): 207.82,
 ('Fat supply quantity (g/capita/day)', 'Botswana'): 261.12,
 ('Fat supply quantity (g/capita/day)', 'Burkina Faso'): 264.29,
 ('Fat supply quantity (g/capita/day)', 'Cabo Verde'): 264.32,
 ('Fat supply quantity (g/capita/day)', 'Cameroon'): 217.53,
 ('Fat supply quantity (g/capita/day)', 'Central African Republic'): 242.76,
 ('Fat supply quantity (g/capita/day)', 'Chad'): 211.53,
 ('Fat supply quantity (g/capita/day)', 'Congo'): 181.82,
 ('Fat supply quantity (g/capita/day)', "Côte d'Ivoire"): 237.96,
 ('Fat supply quantity (g/capita/day)', 'Djibouti'): 247.43,
 ('Fat supply quantity (g/capita/day)', 'Egypt'): 238.72,
 ('Fat supply quantity (g/capita/day)', 'Eswatini'): 189.94,
 ('Fat supply quantity (g/capita/day)', 'Ethiopia'): 108.49000000000001,
 ('Fat supply quantity (g/capita/day)', 'Gabon'): 211.75,
 ('Fat supply quantity (g/capita/day)', 'Gambia'): 241.96,
 ('Fat supply quantity (g/capita/day)', 'Ghana'): 164.21,
 ('Fat supply quantity (g/capita/day)', 'Guinea'): 274.89,
 ('Fat supply quantity (g/capita/day)', 'Guinea-Bissau'): 245.35000000000002,
 ('Fat supply quantity (g/capita/day)', 'Kenya'): 191.54,
 ('Fat supply quantity (g/capita/day)', 'Lesotho'): 211.1,
 ('Fat supply quantity (g/capita/day)', 'Liberia'): 196.34,
 ('Fat supply quantity (g/capita/day)', 'Madagascar'): 96.42999999999999,
 ('Fat supply quantity (g/capita/day)', 'Malawi'): 161.35,
 ('Fat supply quantity (g/capita/day)', 'Mali'): 235.33,
 ('Fat supply quantity (g/capita/day)', 'Mauritania'): 268.78,
 ('Fat supply quantity (g/capita/day)', 'Mauritius'): 377.28,
 ('Fat supply quantity (g/capita/day)', 'Morocco'): 284.16,
 ('Fat supply quantity (g/capita/day)', 'Mozambique'): 195.06,
 ('Fat supply quantity (g/capita/day)', 'Namibia'): 219.81,
 ('Fat supply quantity (g/capita/day)', 'Niger'): 209.32,
 ('Fat supply quantity (g/capita/day)', 'Nigeria'): 218.84,
 ('Fat supply quantity (g/capita/day)', 'Rwanda'): 123.56,
 ('Fat supply quantity (g/capita/day)', 'Sao Tome and Principe'): 286.54,
 ('Fat supply quantity (g/capita/day)', 'Senegal'): 243.21,
 ('Fat supply quantity (g/capita/day)', 'Sierra Leone'): 199.86,
 ('Fat supply quantity (g/capita/day)', 'South Africa'): 331.72,
 ('Fat supply quantity (g/capita/day)', 'Sudan'): 263.63,
 ('Fat supply quantity (g/capita/day)', 'Togo'): 197.24,
 ('Fat supply quantity (g/capita/day)', 'Tunisia'): 379.37,
 ('Fat supply quantity (g/capita/day)', 'Uganda'): 200.36,
 ('Fat supply quantity (g/capita/day)', 'United Republic of Tanzania'): 214.16,
 ('Fat supply quantity (g/capita/day)', 'Zambia'): 193.82999999999998,
 ('Fat supply quantity (g/capita/day)', 'Zimbabwe'): 207.99,
 ('Feed', 'Algeria'): 10668.0,
 ('Feed', 'Angola'): 7859.66,
 ('Feed', 'Benin'): 4662.54,
 ('Feed', 'Botswana'): 28.04,
 ('Feed', 'Burkina Faso'): 1031.5,
 ('Feed', 'Cabo Verde'): 48.0,
 ('Feed', 'Cameroon'): 4857.24,
 ('Feed', 'Central African Republic'): 5.0,
 ('Feed', 'Chad'): 1150.0,
 ('Feed', 'Comoros'): 0.0,
 ('Feed', 'Congo'): 39.66,
 ('Feed', "Côte d'Ivoire"): 6410.0,
 ('Feed', 'Djibouti'): 298.0,
 ('Feed', 'Egypt'): 25158.3,
 ('Feed', 'Eswatini'): 82.0,
 ('Feed', 'Ethiopia'): 3669.0,
 ('Feed', 'Ethiopia PDR'): 0.0,
 ('Feed', 'Gabon'): 573.0,
 ('Feed', 'Gambia'): 114.02,
 ('Feed', 'Ghana'): 14730.28,
 ('Feed', 'Guinea'): 4090.0,
 ('Feed', 'Guinea-Bissau'): 22.0,
 ('Feed', 'Kenya'): 1496.28,
 ('Feed', 'Lesotho'): 142.0,
 ('Feed', 'Liberia'): 118.0,
 ('Feed', 'Madagascar'): 2133.6,
 ('Feed', 'Malawi'): 17802.4,
 ('Feed', 'Mali'): 3369.3,
 ('Feed', 'Mauritania'): 63.34,
 ('Feed', 'Mauritius'): 501.18,
 ('Feed', 'Morocco'): 13679.87,
 ('Feed', 'Mozambique'): 2485.17,
 ('Feed', 'Namibia'): 119.4,
 ('Feed', 'Niger'): 2389.0,
 ('Feed', 'Nigeria'): 73064.53,
 ('Feed', 'Rwanda'): 96.0,
 ('Feed', 'Sao Tome and Principe'): 0.0,
 ('Feed', 'Senegal'): 381.41,
 ('Feed', 'Seychelles'): 4.14,
 ('Feed', 'Sierra Leone'): 2170.0,
 ('Feed', 'South Africa'): 12413.42,
 ('Feed', 'Sudan'): 1887.0,
 ('Feed', 'Sudan (former)'): 0.0,
 ('Feed', 'Togo'): 1171.62,
 ('Feed', 'Tunisia'): 5621.7,
 ('Feed', 'Uganda'): 297.04,
 ('Feed', 'United Republic of Tanzania'): 4495.06,
 ('Feed', 'Zambia'): 1950.66,
 ('Feed', 'Zimbabwe'): 141.32,
 ('Food', 'Algeria'): 63736.33,
 ('Food', 'Angola'): 37256.56,
 ('Food', 'Benin'): 16209.34,
 ('Food', 'Botswana'): 2378.8,
 ('Food', 'Burkina Faso'): 20525.63,
 ('Food', 'Cabo Verde'): 572.99,
 ('Food', 'Cameroon'): 35235.51,
 ('Food', 'Central African Republic'): 4457.06,
 ('Food', 'Chad'): 9846.69,
 ('Food', 'Comoros'): 12.45,
 ('Food', 'Congo'): 6281.89,
 ('Food', "Côte d'Ivoire"): 32660.63,
 ('Food', 'Djibouti'): 790.96,
 ('Food', 'Egypt'): 145135.3,
 ('Food', 'Eswatini'): 1217.81,
 ('Food', 'Ethiopia'): 78564.7,
 ('Food', 'Ethiopia PDR'): 0.0,
 ('Food', 'Gabon'): 2906.75,
 ('Food', 'Gambia'): 1618.88,
 ('Food', 'Ghana'): 52540.78,
 ('Food', 'Guinea'): 14310.85,
 ('Food', 'Guinea-Bissau'): 1491.58,
 ('Food', 'Kenya'): 50504.48,
 ('Food', 'Lesotho'): 1817.72,
 ('Food', 'Liberia'): 3802.99,
 ('Food', 'Madagascar'): 22116.21,
 ('Food', 'Malawi'): 23295.97,
 ('Food', 'Mali'): 25110.72,
 ('Food', 'Mauritania'): 4175.5,
 ('Food', 'Mauritius'): 1348.03,
 ('Food', 'Morocco'): 48698.59,
 ('Food', 'Mozambique'): 29772.57,
 ('Food', 'Namibia'): 2751.26,
 ('Food', 'Niger'): 23049.84,
 ('Food', 'Nigeria'): 243467.65,
 ('Food', 'Rwanda'): 15552.52,
 ('Food', 'Sao Tome and Principe'): 254.13,
 ('Food', 'Senegal'): 13763.22,
 ('Food', 'Seychelles'): 5.58,
 ('Food', 'Sierra Leone'): 8444.68,
 ('Food', 'South Africa'): 61781.13,
 ('Food', 'Sudan'): 41857.77,
 ('Food', 'Sudan (former)'): 0.0,
 ('Food', 'Togo'): 7229.6,
 ('Food', 'Tunisia'): 18901.69,
 ('Food', 'Uganda'): 41420.05,
 ('Food', 'United Republic of Tanzania'): 65741.38,
 ('Food', 'Zambia'): 12405.14,
 ('Food', 'Zimbabwe'): 8821.37,
 ('Food supply (kcal/capita/day)', 'Algeria'): 13288.0,
 ('Food supply (kcal/capita/day)', 'Angola'): 9538.0,
 ('Food supply (kcal/capita/day)', 'Benin'): 11023.0,
 ('Food supply (kcal/capita/day)', 'Botswana'): 9365.0,
 ('Food supply (kcal/capita/day)', 'Burkina Faso'): 10951.0,
 ('Food supply (kcal/capita/day)', 'Cabo Verde'): 10164.0,
 ('Food supply (kcal/capita/day)', 'Cameroon'): 10929.0,
 ('Food supply (kcal/capita/day)', 'Central African Republic'): 7141.0,
 ('Food supply (kcal/capita/day)', 'Chad'): 8457.0,
 ('Food supply (kcal/capita/day)', 'Congo'): 9141.0,
 ('Food supply (kcal/capita/day)', "Côte d'Ivoire"): 11110.0,
 ('Food supply (kcal/capita/day)', 'Djibouti'): 10779.0,
 ('Food supply (kcal/capita/day)', 'Egypt'): 13166.0,
 ('Food supply (kcal/capita/day)', 'Eswatini'): 9701.0,
 ('Food supply (kcal/capita/day)', 'Ethiopia'): 9352.0,
 ('Food supply (kcal/capita/day)', 'Gabon'): 10531.0,
 ('Food supply (kcal/capita/day)', 'Gambia'): 10128.0,
 ('Food supply (kcal/capita/day)', 'Ghana'): 12134.0,
 ('Food supply (kcal/capita/day)', 'Guinea'): 10981.0,
 ('Food supply (kcal/capita/day)', 'Guinea-Bissau'): 8916.0,
 ('Food supply (kcal/capita/day)', 'Kenya'): 8781.0,
 ('Food supply (kcal/capita/day)', 'Lesotho'): 9288.0,
 ('Food supply (kcal/capita/day)', 'Liberia'): 8667.0,
 ('Food supply (kcal/capita/day)', 'Madagascar'): 7748.0,
 ('Food supply (kcal/capita/day)', 'Malawi'): 9566.0,
 ('Food supply (kcal/capita/day)', 'Mali'): 11492.0,
 ('Food supply (kcal/capita/day)', 'Mauritania'): 11501.0,
 ('Food supply (kcal/capita/day)', 'Mauritius'): 12198.0,
 ('Food supply (kcal/capita/day)', 'Morocco'): 13644.0,
 ('Food supply (kcal/capita/day)', 'Mozambique'): 8404.0,
 ('Food supply (kcal/capita/day)', 'Namibia'): 9871.0,
 ('Food supply (kcal/capita/day)', 'Niger'): 10311.0,
 ('Food supply (kcal/capita/day)', 'Nigeria'): 10285.0,
 ('Food supply (kcal/capita/day)', 'Rwanda'): 8748.0,
 ('Food supply (kcal/capita/day)', 'Sao Tome and Principe'): 9786.0,
 ('Food supply (kcal/capita/day)', 'Senegal'): 10186.0,
 ('Food supply (kcal/capita/day)', 'Sierra Leone'): 9476.0,
 ('Food supply (kcal/capita/day)', 'South Africa'): 11589.0,
 ('Food supply (kcal/capita/day)', 'Sudan'): 10309.0,
 ('Food supply (kcal/capita/day)', 'Togo'): 9768.0,
 ('Food supply (kcal/capita/day)', 'Tunisia'): 13804.0,
 ('Food supply (kcal/capita/day)', 'Uganda'): 7925.0,
 ('Food supply (kcal/capita/day)', 'United Republic of Tanzania'): 9487.0,
 ('Food supply (kcal/capita/day)', 'Zambia'): 8005.0,
 ('Food supply (kcal/capita/day)', 'Zimbabwe'): 7627.0,
 ('Food supply quantity (kg/capita/yr)', 'Algeria'): 1509.28,
 ('Food supply quantity (kg/capita/yr)', 'Angola'): 1209.36,
 ('Food supply quantity (kg/capita/yr)', 'Benin'): 1411.42,
 ('Food supply quantity (kg/capita/yr)', 'Botswana'): 1055.79,
 ('Food supply quantity (kg/capita/yr)', 'Burkina Faso'): 1039.07,
 ('Food supply quantity (kg/capita/yr)', 'Cabo Verde'): 1051.85,
 ('Food supply quantity (kg/capita/yr)', 'Cameroon'): 1397.3,
 ('Food supply quantity (kg/capita/yr)', 'Central African Republic'): 955.84,
 ('Food supply quantity (kg/capita/yr)', 'Chad'): 636.12,
 ('Food supply quantity (kg/capita/yr)', 'Congo'): 1198.66,
 ('Food supply quantity (kg/capita/yr)', "Côte d'Ivoire"): 1302.78,
 ('Food supply quantity (kg/capita/yr)', 'Djibouti'): 826.88,
 ('Food supply quantity (kg/capita/yr)', 'Egypt'): 1474.48,
 ('Food supply quantity (kg/capita/yr)', 'Eswatini'): 1074.56,
 ('Food supply quantity (kg/capita/yr)', 'Ethiopia'): 719.31,
 ('Food supply quantity (kg/capita/yr)', 'Gabon'): 1373.32,
 ('Food supply quantity (kg/capita/yr)', 'Gambia'): 710.09,
 ('Food supply quantity (kg/capita/yr)', 'Ghana'): 1764.99,
 ('Food supply quantity (kg/capita/yr)', 'Guinea'): 1152.8700000000001,
 ('Food supply quantity (kg/capita/yr)', 'Guinea-Bissau'): 795.77,
 ('Food supply quantity (kg/capita/yr)', 'Kenya'): 982.67,
 ('Food supply quantity (kg/capita/yr)', 'Lesotho'): 862.41,
 ('Food supply quantity (kg/capita/yr)', 'Liberia'): 789.4300000000001,
 ('Food supply quantity (kg/capita/yr)', 'Madagascar'): 842.17,
 ('Food supply quantity (kg/capita/yr)', 'Malawi'): 1284.02,
 ('Food supply quantity (kg/capita/yr)', 'Mali'): 1316.11,
 ('Food supply quantity (kg/capita/yr)', 'Mauritania'): 947.85,
 ('Food supply quantity (kg/capita/yr)', 'Mauritius'): 1063.77,
 ('Food supply quantity (kg/capita/yr)', 'Morocco'): 1351.66,
 ('Food supply quantity (kg/capita/yr)', 'Mozambique'): 1009.52,
 ('Food supply quantity (kg/capita/yr)', 'Namibia'): 1125.44,
 ('Food supply quantity (kg/capita/yr)', 'Niger'): 1027.22,
 ('Food supply quantity (kg/capita/yr)', 'Nigeria'): 1242.98,
 ('Food supply quantity (kg/capita/yr)', 'Rwanda'): 1264.16,
 ('Food supply quantity (kg/capita/yr)', 'Sao Tome and Principe'): 1231.72,
 ('Food supply quantity (kg/capita/yr)', 'Senegal'): 868.16,
 ('Food supply quantity (kg/capita/yr)', 'Sierra Leone'): 1103.94,
 ('Food supply quantity (kg/capita/yr)', 'South Africa'): 1068.97,
 ('Food supply quantity (kg/capita/yr)', 'Sudan'): 1001.32,
 ('Food supply quantity (kg/capita/yr)', 'Togo'): 916.53,
 ('Food supply quantity (kg/capita/yr)', 'Tunisia'): 1634.21,
 ('Food supply quantity (kg/capita/yr)', 'Uganda'): 969.4300000000001,
 ('Food supply quantity (kg/capita/yr)',
  'United Republic of Tanzania'): 1167.33,
 ('Food supply quantity (kg/capita/yr)', 'Zambia'): 714.87,
 ('Food supply quantity (kg/capita/yr)', 'Zimbabwe'): 611.22,
 ('Import Quantity', 'Algeria'): 36238.29,
 ('Import Quantity', 'Angola'): 7769.67,
 ('Import Quantity', 'Benin'): 7008.24,
 ('Import Quantity', 'Botswana'): 1908.42,
 ('Import Quantity', 'Burkina Faso'): 2605.64,
 ('Import Quantity', 'Cabo Verde'): 499.66,
 ('Import Quantity', 'Cameroon'): 4188.88,
 ('Import Quantity', 'Central African Republic'): 75.02,
 ('Import Quantity', 'Chad'): 491.95,
 ('Import Quantity', 'Comoros'): 2.92,
 ('Import Quantity', 'Congo'): 1785.27,
 ('Import Quantity', "Côte d'Ivoire"): 9271.210000000001,
 ('Import Quantity', 'Djibouti'): 3784.92,
 ('Import Quantity', 'Egypt'): 53954.2,
 ('Import Quantity', 'Eswatini'): 936.53,
 ('Import Quantity', 'Ethiopia'): 5655.24,
 ('Import Quantity', 'Ethiopia PDR'): 0.0,
 ('Import Quantity', 'Gabon'): 1079.75,
 ('Import Quantity', 'Gambia'): 1212.1,
 ('Import Quantity', 'Ghana'): 9914.68,
 ('Import Quantity', 'Guinea'): 4707.95,
 ('Import Quantity', 'Guinea-Bissau'): 497.72,
 ('Import Quantity', 'Kenya'): 11188.96,
 ('Import Quantity', 'Lesotho'): 1016.97,
 ('Import Quantity', 'Liberia'): 1203.77,
 ('Import Quantity', 'Madagascar'): 3214.79,
 ('Import Quantity', 'Malawi'): 520.2,
 ('Import Quantity', 'Mali'): 1962.06,
 ('Import Quantity', 'Mauritania'): 3575.74,
 ('Import Quantity', 'Mauritius'): 1672.39,
 ('Import Quantity', 'Morocco'): 19448.5,
 ('Import Quantity', 'Mozambique'): 5552.03,
 ('Import Quantity', 'Namibia'): 1462.04,
 ('Import Quantity', 'Niger'): 2390.2,
 ('Import Quantity', 'Nigeria'): 21923.38,
 ('Import Quantity', 'Rwanda'): 1734.44,
 ('Import Quantity', 'Sao Tome and Principe'): 84.1,
 ('Import Quantity', 'Senegal'): 8005.24,
 ('Import Quantity', 'Seychelles'): 77.71000000000001,
 ('Import Quantity', 'Sierra Leone'): 1659.22,
 ('Import Quantity', 'South Africa'): 16192.45,
 ('Import Quantity', 'Sudan'): 9130.11,
 ('Import Quantity', 'Sudan (former)'): 0.0,
 ('Import Quantity', 'Togo'): 3625.48,
 ('Import Quantity', 'Tunisia'): 11030.91,
 ('Import Quantity', 'Uganda'): 3209.87,
 ('Import Quantity', 'United Republic of Tanzania'): 1863.68,
 ('Import Quantity', 'Zambia'): 990.75,
 ('Import Quantity', 'Zimbabwe'): 1673.84,
 ('Losses', 'Algeria'): 7708.0,
 ('Losses', 'Angola'): 6135.0,
 ('Losses', 'Benin'): 2814.0,
 ('Losses', 'Botswana'): 106.0,
 ('Losses', 'Burkina Faso'): 912.0,
 ('Losses', 'Cabo Verde'): 20.0,
 ('Losses', 'Cameroon'): 8742.0,
 ('Losses', 'Central African Republic'): 293.0,
 ('Losses', 'Chad'): 1454.0,
 ('Losses', 'Congo'): 611.0,
 ('Losses', "Côte d'Ivoire"): 3931.0,
 ('Losses', 'Djibouti'): 10.0,
 ('Losses', 'Egypt'): 15590.0,
 ('Losses', 'Eswatini'): 682.0,
 ('Losses', 'Ethiopia'): 4531.0,
 ('Losses', 'Gabon'): 488.0,
 ('Losses', 'Gambia'): 77.0,
 ('Losses', 'Ghana'): 19634.0,
 ('Losses', 'Guinea'): 2559.0,
 ('Losses', 'Guinea-Bissau'): 159.0,
 ('Losses', 'Kenya'): 4030.0,
 ('Losses', 'Lesotho'): 66.0,
 ('Losses', 'Liberia'): 338.0,
 ('Losses', 'Madagascar'): 2253.0,
 ('Losses', 'Malawi'): 4107.0,
 ('Losses', 'Mali'): 2616.0,
 ('Losses', 'Mauritania'): 215.0,
 ('Losses', 'Mauritius'): 358.0,
 ('Losses', 'Morocco'): 4696.0,
 ('Losses', 'Mozambique'): 2159.0,
 ('Losses', 'Namibia'): 227.0,
 ('Losses', 'Niger'): 3783.0,
 ('Losses', 'Nigeria'): 34951.0,
 ('Losses', 'Rwanda'): 1290.0,
 ('Losses', 'Sao Tome and Principe'): 28.0,
 ('Losses', 'Senegal'): 915.0,
 ('Losses', 'Sierra Leone'): 967.0,
 ('Losses', 'South Africa'): 5576.0,
 ('Losses', 'Sudan'): 5221.0,
 ('Losses', 'Togo'): 715.0,
 ('Losses', 'Tunisia'): 1747.0,
 ('Losses', 'Uganda'): 1707.0,
 ('Losses', 'United Republic of Tanzania'): 7538.0,
 ('Losses', 'Zambia'): 1052.0,
 ('Losses', 'Zimbabwe'): 891.0,
 ('Other uses (non-food)', 'Algeria'): 3970.08,
 ('Other uses (non-food)', 'Angola'): 1014.0,
 ('Other uses (non-food)', 'Benin'): 4192.0,
 ('Other uses (non-food)', 'Botswana'): 26.02,
 ('Other uses (non-food)', 'Burkina Faso'): 262.02,

In [10]:
#Answer
df_alg.loc['Import Quantity', 'Algeria']

36238.29

# ***Question 20 Answer below***

In [7]:
#total number of countries
df.Area.nunique()

49

In [ ]:
#df['Y2014', 'products'].sum()

In [ ]:
#df.loc[(df['Item'] == 'Animal Products') & (df['Element'] == 'Fat supply quantity (g/capita/day)')] = pd.Series(df['Y2014'].sum(), index = ['Y2014'])#

In [ ]:
#df.groupby(['Y2017']).sum()

https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv

The dataset is provided by the Food and Agriculture Organization of the United Nations and is made available in .csv format on the github link below-

https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning 

Features

Area Code',

'Area', 

'Item Code', 

'Item', 

'Element Code', 

'Element',

'Unit', 

'Y2014', 

'Y2015', 

'Y2016', 

'Y2017', 

'Y2018'

Answer questions 11- 20 based on the data.

After completion of the assessment, you are required to submit the link to your code using this Google Form.

Please note that plagiarism is highly prohibited and you will be disqualified if found guilty of it.